<autocomplete-demo></autocomplete-demo>
<baseline-demo></baseline-demo>
<button-demo></button-demo>
<button-toggle-demo></button-toggle-demo>
<card-demo></card-demo>
<md-checkbox-demo-nested-checklist></md-checkbox-demo-nested-checklist>
<chips-demo></chips-demo>
<dialog-demo></dialog-demo>
<gestures-demo></gestures-demo>
<grid-list-demo></grid-list-demo>
<md-icon-demo></md-icon-demo>
<input-demo></input-demo>
<list-demo></list-demo>
<live-announce-demo></live-announce-demo>
<menu-demo></menu-demo>
<overlay-demo></overlay-demo>
<platform-demo></platform-demo>
<portal-demo></portal-demo>
<progress-bar-demo></progress-bar-demo>
<progress-spinner-demo></progress-spinner-demo>
<projection-app></projection-app>
<radio-demo></radio-demo>
<ripple-demo></ripple-demo>
<select-demo></select-demo>
<sidenav-demo></sidenav-demo>
<switch-demo></switch-demo>
<slider-demo></slider-demo>
<snack-bar-demo></snack-bar-demo>
<style-demo></style-demo>
<tabs-demo></tabs-demo>
<toolbar-demo></toolbar-demo>
<tooltip-demo></tooltip-demo>
