<md-card>
  <md-card-content>
    <h3 class="md-title">[tdLoading] directive with (*) syntax</h3>
    <h4 class="md-subhead">with indetederminate [tdLoadingMode], circular [tdLoadingType], overlay [tdLoadingStrategy], accent [tdLoadingColor]</h4>
    <ng-template  md-tab-label>Demo</ng-template>
    <div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
      <div layout="column" flex>
        <md-input-container flex>
          <input mdInput placeholder="Name"/>
        </md-input-container>
        <md-input-container flex>
          <textarea mdInput placeholder="Description" rows="4"></textarea>
        </md-input-container>
      </div>
    </div>
    <div layout="row">
      <button md-button color="primary" (click)="toggleOverlayStarSyntax()" class="text-upper">Toggle Loader</button>
    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <h3 class="md-title">[tdLoading] directive with template syntax</h3>
    <h4 class="md-subhead">with determinate [tdLoadingMode], linear [tdLoadingType], replace [tdLoadingStrategy], warn [tdLoadingColor]</h4>
    <ng-template  md-tab-label>Demo</ng-template>
    <ng-template  tdLoading="replaceTemplateSyntax" tdLoadingMode="determinate" tdLoadingType="linear" tdLoadingStrategy="replace" tdLoadingColor="warn">
      <div layout="column" flex>
        <md-input-container flex>
          <input mdInput placeholder="Name"/>
        </md-input-container>
        <md-select placeholder="Select">
          <md-option>Demo 1</md-option>
          <md-option>Demo 2</md-option>
        </md-select>
        <md-input-container flex>
          <textarea mdInput placeholder="Description" rows="4"></textarea>
        </md-input-container>
      </div>
    </ng-template>
    <div layout="row">
      <button md-button color="primary" (click)="toggleReplaceTemplateSyntax()" class="text-upper">Toggle Loader</button>
    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <h3 class="md-title">Preloaded [TdLoading] fullscreen mask</h3>
    <h4 class="md-subhead">with indeterminate [mode], circular [type], primary [color] by default</h4>
    <ng-template  md-tab-label>Demo</ng-template>
    <div layout="row">
      <button md-button color="primary" (click)="toggleDefaultFullscreenDemo()" class="text-upper">Toggle Loader</button>
    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <h3 class="md-title">Custom [TdLoading] fullscreen mask</h3>
    <h4 class="md-subhead">with indeterminate [mode], linear [type], accent [color]</h4>
    <ng-template  md-tab-label>Demo</ng-template>
    <div layout="row">
      <button md-button color="primary" (click)="toggleConfigFullscreenDemo()" class="text-upper">Toggle Loader</button>
    </div>
  </md-card-content>
</md-card>


