<h1>Covalent Components</h1>
<h2>Chips</h2>
<app-covalent-chips class="screenshot"></app-covalent-chips>


<h2>Dialogs</h2>
<app-covalent-dialogs class="screenshot"></app-covalent-dialogs>

<h2>Expansion</h2>
<app-covalent-expansion class="screenshot"></app-covalent-expansion>

<h2>Upload</h2>
<app-covalent-file-upload class="screenshot"></app-covalent-file-upload>

<!--<h2>Loading</h2>
<app-covalent-loading class="screenshot"></app-covalent-loading>-->

<h2>Notifications</h2>
<app-covalent-notifications class="screenshot"></app-covalent-notifications>

<h2>Paging</h2>
<app-covalent-paging class="screenshot"></app-covalent-paging>

<h2>Search</h2>
<app-covalent-search class="screenshot"></app-covalent-search>


<h2>Stepper</h2>
<app-covalent-stepper class="screenshot"></app-covalent-stepper>

<h1>Design patterns</h1>

<h2>Managed List</h2>
<design-patterns-management-list class="screenshot"></design-patterns-management-list>
<h2>Dialogs</h2>
<design-patterns-dialogs class="screenshot"></design-patterns-dialogs>
<h2>Cards</h2>
<design-patterns-cards class="screenshot"></design-patterns-cards>

