<h1>Covalent Components</h1>
<h2>Chips</h2>
<app-covalent-chips></app-covalent-chips>


<h2>Dialogs</h2>
<app-covalent-dialogs></app-covalent-dialogs>

<h2>Expansion</h2>
<app-covalent-expansion></app-covalent-expansion>

<h2>Upload</h2>
<app-covalent-file-upload></app-covalent-file-upload>

<h2>Loading</h2>
<app-covalent-loading></app-covalent-loading>

<h2>Notifications</h2>
<app-covalent-notifications></app-covalent-notifications>

<h2>Paging</h2>
<app-covalent-paging></app-covalent-paging>

<h2>Search</h2>
<app-covalent-search></app-covalent-search>


<h2>Stepper</h2>
<app-covalent-stepper></app-covalent-stepper>





