<md-card>
  <md-card-content>
    <p>Basic Demo</p>
    <td-chips placeholder="Enter any string" [readOnly]="readOnly"></td-chips>
    <p>Autocomplete Demo</p>
    <td-chips [items]="items" placeholder="Enter any string" [readOnly]="readOnly"></td-chips>
    <p>Autocomplete and requireMatch Demo</p>
    <td-chips [items]="items" [(ngModel)]="itemsRequireMatch" placeholder="Enter autocomplete strings" [readOnly]="readOnly" requireMatch></td-chips>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="primary" (click)="toggleReadOnly()" class="text-upper">Toggle ReadOnly</button>
  </md-card-actions>
</md-card>

